section {
    height: 80vh;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

h1 {
    font-size: 64px;
    font-weight: 800;
    color: rgb(63, 220, 220);
}


/* Home */
#img-pie {
    height: 100vh;
    width: auto;
}

.text-box p {
    margin: 2px;
}


/* About */
.about {
    margin-top: 100px;
}

.text-about h1 {
    margin-bottom: 50px;
}

.text-about p {
    margin: 2px;
}


/* Skill */
.skill-sec {
    height: 60vh;
}

.skill h1 {
    margin-bottom: 50px;
}

.tool-items {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tool-items img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.tool-items p {
    margin: 10px 0 0;
}

.tool-items:nth-child(2) img {
    transform: scale(1.7);
}


/* Experience */
.ex-sec {
    height: 90vh;
}

.ex {
    margin: 100px;
}

.ex-box img {
    width: 20%;
}


/* Contact */
.contact-sec {
    height: 30vh;
}

.contact p {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-box {
    display: flex;
    justify-content: center;
}

.contact-box img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}